.idea/

# Node.JS .gitignores
# (as per https://github.com/github/gitignore/blob/master/Node.gitignore)
# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
# Commenting this out is preferred by some people, see
# https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules